<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yhe4hhu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>React Portfolio Template</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <h1>
            <a href="/">
                Hi, I'm Erica.
            </a>
        </h1>

    <!-- NAVIGATION -->
        <nav>
            <ul>
                <li>About</li>
                <li>Portfolio</li>
                <li>Contact</li>
                <li>Resume</li>
            </ul>

        </nav>
    </header>

    <!-- PROJECT -->
    <section class="project">

        <!-- about -->
        <div class="about">

            <div>
            <img class="avatar" src="./assets/Erica_Avatar.svg" />
            </div>

            <div>
            <h2>About</h2>
            <p>I’m a graphic designer and aspiring front-end web developer, passionate about utilizing the right-brain and left-brain to develop logical, structural and creative design. </p>
            <p>I was born and raised in Manchester, Connecticut until I attended Roger Williams University in Bristol, Rhode Island. I graduated in 2015 with a double major in Graphic Design and Music and a minor in Marketing.</p>
            <p>In my free time I enjoy spending time with my friends and family, running, hiking and just generally being active. By far, my biggest passion is music. I can usually be found singing. Throughout my life, I have been a member of multiple choral ensembles and also received my second degree in music just for fun.</p>
            <p>Currently, I live in Farmington, Connecticut and work as a Graphic Designer for Spitfire Communications in Simsbury.</p>
            </div>

        </div>

        <!-- portfolio -->
        <div class="portfolio">

            <div class="work">

                <div id="rcorners" class="work1">
                </div>

                <div id="rcorners" class="work2">
                </div>

                <div id="rcorners" class="work3">
                </div>

                <div id="rcorners" class="work4">
                </div>

                <div id="rcorners" class="work2">
                </div>

                <div id="rcorners" class="work3">
                </div>

            </div>

        </div>

        <!-- resume -->
        <div class="resume">

            <h2>Resume</h2>

            <p>View my full <a href="">resume</a>.</p>

            <div class="skills">
                <div>
                    <h3>Design</h3>
                        <p>InDesign</p>
                        <p>Illustrator</p>
                        <p>Photoshop</p>
                        <p>Acrobat</p>
                </div>

                <div>
                    <h3>Front-end</h3>
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                        <p>Bootstrap</p>
                        <p>Tailwind</p>
                        <p>jQuery</p>
                        <p>Handlebars</p>
                        <p>React</p>
                </div>

                <div>
                    <h3>Back-end</h3>
                        <p>APIs</p>
                        <p>Node</p>
                        <p>Express</p>
                        <p>MySQL</p>
                        <p>Sequelize</p>
                        <p>MongoDB</p>
                        <p>Mongoose</p>
                </div>
            </div>

        </div>

        <!-- contact -->

        <div class="contact">

            <h2>Contact</h2>

            <form id="contact-form">
                <div>
                    <label htmlFor="name">Name:</label>
                    <input type="text" name="name"/>
                </div>
                <div>
                    <label htmlFor="email">Email:</label>
                    <input type="email" name="email"/>
                </div>
                <div>
                    <label htmlFor="message">Message:</label>
                    <textarea class="message" type="message" name="message"></textarea>
                </div>
                <button id="submitbtn" type="submit">Submit</button>
            </form>

        </div>

    </section>

    <!-- FOOTER -->
    <footer>
        <a href="https://github.com/etrenholm" target="_blank" className="fa fa-linkedin"></a>
        <a href="https://www.linkedin.com/in/etrenholm/" target="_blank" className="fa fa-github"></a>
        <a href="https://dribbble.com/etrenholm" target="_blank" className="fa fa-dribbble"></a>
        <a href="mailto:erica.trenholm48@gmail.com" target="_blank" className="fa fa-envelope"></a>
    </footer>
    
</body>
</html>