* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'sofia-pro', 'Helvetica', 'Arial', sans-serif;
  color: #31312d;
  background: linear-gradient(0deg, #dbd6f4 0%, #ceb6dd 100%);
  min-height: 100vh;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 60px;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

nav a:hover {
  text-decoration: underline 5px solid #dbfe87;
}

nav a {
  font-weight: 300;
  color: #31312d;
}

.nav-active {
  text-decoration: underline 5px solid #dbfe87;
}

h1 a {
  font-family: 'Vollkorn', serif;
  color: black;
  text-decoration: none;
  font-size: 40px;
}

h2 {
  font-size: 22px;
  padding-bottom: 10px;
}

h3 {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 15px;
  padding-bottom: 10px;
}

ul {
  padding: 20px;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #451535;
}

/* MAIN SECTION */
.project {
  max-width: 900px;
  margin: auto;
  padding: 80px;
}

/* ABOUT */
.about {
  display: flex;
}

.avatar {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  padding-right: 50px;
}

/* PORTFOLIO */
.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.work1 {
  background: url(/src/assets/TravelSphere.jpg);
}

.work2 {
  background: url(/src/assets/Trivia-Blast.jpg);
}

.work3 {
  background: url(/src/assets/Tech-Blog.jpg);
}

.work4 {
  background: url(/src/assets/Team-Generator.jpg);
}

.work5 {
  background: url(/src/assets/Weather-Dashboard.jpg);
}

.work6 {
  background: url(/src/assets/Run-Buddy.jpg);
}

h4 {
  text-align: center;
}

.hover-box {
  opacity: 0;
  background-color: white;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 240px;
  padding: 60px;
  text-align: center;
  border-radius: 10px;
}

.hover-box p {
  font-weight: normal;
  color: #31312d;
}

#project {
  border-radius: 10px;
  background-position: left top;
  background-repeat: repeat;
  background-size: cover;
  width: 360px;
  height: 240px;
  flex-direction: row;
}

#project:hover .hover-box {
  opacity: .9;
  transition: .5s ease-in-out;
}


/* RESUME */
.skills {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  text-align: center;
}

/* CONTACT */
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
  font-family: 'sofia-pro', 'Helvetica', 'Arial', sans-serif;
}

textarea {
  height: 60px;
}

button {
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #451535;
  border: none;
  color: white;
  font-family: 'sofia-pro', 'Helvetica', 'Arial', sans-serif;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.error {
  font-size: small;
  font-weight: 700;
}

/* FOOTER */
footer {
  margin: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.fa {
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #ceb6dd;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) { 

  header {
    display: block;
    text-align: center;
  }

  nav {
    justify-content: space-evenly;
  }

  .work {
    justify-content: space-around;
  }

  #project,
  .hover-box {
    width: 600px;
    height: 400px;
  }

}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

  .about {
    display: block;
  }

  .skills {
    display: block;
  }

  #project,
  .hover-box {
    width: 375px;
    height: 250px;
  }

  nav ul {
    gap: 40px;
  }

}